<h1 class="text-center my-5">Comparar Productos</h1>
<form [formGroup]="compareForm" class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-4">
            <label for="prod1">Producto 1:</label> <br>
            <select id="prod1" class="form-control" 
                    (ngModelChange)="goTo('item1', compareForm.get('item1').value)"
                    formControlName="item1">
                <option value="">Selecciona Producto</option>
                <option *ngFor="let item of products$ | async" [value]="item.id">{{item.name}}</option>
            </select>
                <router-outlet name="item1"></router-outlet> <!--[itemID]="compareForm.get('item1').value"-->
        </div>

        <div class="col-12 col-sm-4">
            <label for="prod2">Producto 2:</label> <br>
            <select id="prod2" class="form-control"
                    (ngModelChange)="goTo('item2', compareForm.get('item2').value)"
                    formControlName="item2">
                <option value="">Selecciona Producto</option>
                <option *ngFor="let item of products$ | async" [value]="item.id">{{item.name}}</option>
            </select>
            <router-outlet name="item2"></router-outlet>
        </div>

        <div class="col-12 col-sm-4">
            <label for="prod3">Producto 3:</label> <br>
            <select id="prod3" class="form-control"
                    (ngModelChange)="goTo('item3', compareForm.get('item3').value)"
                    formControlName="item3">
                <option value="">Selecciona Producto</option>
                <option *ngFor="let item of products$ | async" [value]="item.id">{{item.name}}</option>
            </select>
            <router-outlet name="item3"></router-outlet>
        </div>
    </div>
</form>