select:focus{
    transition: all .1s;
    outline:none;
    border: 2px solid rgb(98, 98, 134);
    background-color: rgb(226, 226, 226);
    box-shadow: none;
}

select{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1{
    font-family: sanFranciscoBold;
}

select, label{
    font-size: 1.2rem;
}