h1{
    font-family: sanFranciscoBold;
    position: fixed;
    z-index: 0;
}

input, button{
    height: 35px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

input:disabled, select:disabled{
    opacity: 1;
    cursor: not-allowed;
}

label{
    cursor: pointer;
}

.valid-feedback, .invalid-feedback{
    font-family:sanFranciscoMedium;
    margin-top: 10px;
}

form{
    position: relative;
    border-radius: 10px; 
    background: linear-gradient(to bottom right, #E7E7E7 , rgba(128,128,128,.25));
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 1;
}

.is-invalid:focus, .is-valid:focus{
    box-shadow: none;
}



button{
    border: none;
    height: 40px;
    background-color: rgb(164, 164, 255);
    
    
}

button:focus{
    transition: all .1s;
    outline:none;
    border: 2px solid rgb(98, 98, 134);
    box-shadow: none;
}


input:focus{
    transition: all .1s;
    outline:none;
    border: 2px solid rgb(98, 98, 134);
    background-color: rgb(226, 226, 226);
    box-shadow: none;
}

button:hover{
    background-color: rgb(139, 139, 255);
}


.titleBg {
    min-height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:991px) {
    form{
        border-radius: 0;
    }
}

