<button id="button" (click)="buttonClicked()" class="m-2"><i class="fas fa-bars"></i></button>

<div id="sideBar">

    <form [formGroup]="filterForm" class="cuerpoForm m-3 pt-3 pb-1" (ngSubmit)="onSubmit()">
        <h3 class="text-center">Filtro</h3>
        <div class="m-3 my-5">
            <h4 class="mb-3">Sección</h4>
            <div formGroupName="section" class="check-font font section-grid">
                <label *ngFor="let section of sections; index as idx" class="check-font d-flex justify-content-center align-items-center">
                    <input type="checkbox" [formControlName]="section">
                    {{section}}
                </label>
            </div>
    
            <h4 class="mb-3">Tamaños</h4>
            <div formGroupName="size" class="check-grid">
                <label *ngFor="let size of sizes; index as idx" class="check-font d-flex justify-content-center align-items-center">
                    <input type="checkbox" class="mr-2" [formControlName]="size">
                    {{size}}
                </label>
            </div>
        </div>

        <div class="m-3 my-5">
            <h4 class="mb-3">Colores</h4>
            <div class="check-grid ml-2" formGroupName="colors">
                <label *ngFor="let color of colorList" class="check-font d-flex justify-content-start align-items-center flex-wrap">
                    <input type="checkbox"[formControlName]="color.key">
                    {{color.value}}
                </label>
            </div>
        </div>
    
        <div class="m-3 my-5">
            <h4 class="mb-3">Precio</h4>
    
            <div class="grid-input">
                <input type="range" class="custom-range" [min]="0" [step]="1" [max]="500" id="minPrice" formControlName="minPrice">
                <input type="range" class="custom-range" [min]="0" [step]="1" [max]="500" id="maxPrice" formControlName="maxPrice">
            </div>
            
            <div class="d-flex justify-content-between">
                <span>{{filterForm.get('minPrice').value}}€</span>
                <span>{{filterForm.get('maxPrice').value}}€</span>
            </div>
    
        </div>
    
        <div class="d-flex justify-content-center">
            <button type="submit" id="submitButton" class="w-25 mb-5">Filtrar</button>
        </div>
    
    </form>

</div>
