<!-- <div class="container-lg d-flex justify-content-center">
  <app-admin-bar class="position-fixed color-fondo"></app-admin-bar>
</div> -->

<div class="container-lg pt-5">
    <h1 class="text-center">Manage Comments</h1>
    <div class="table-responsive">
      <table class="table mt-5">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">User</th>
              <th scope="col" class="text-center">Stars</th>
              <th scope="col" class="text-center">Review</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="bg-light">
              <ng-container *ngFor="let product of products$ | async">
                <tr *ngFor="let comment of product.comments; let idx = index;">
                    <ng-container *ngIf="comment.pending">
                        <td class="align-middle text-center">{{comment.user}}</td>
                        <td class="align-middle text-center">{{comment.stars}}</td>
                        <td class="align-middle text-center">{{comment.review}}</td>
                        <td class="align-middle">
                            <button class="w-100 btn-success btn" (click)="admit(product, idx)">Admit</button>
                            <button class="w-100 mt-3 btn-danger btn" (click)="remove(product, idx)">Delete</button>
                        </td>
                    </ng-container>
                </tr>
              </ng-container>
          </tbody>
      </table>    
    </div>
  </div>