<div class="w-100 mb-5" id="addProd">

    <div class="titleBg">
        <h1>Contacto</h1>
    </div>
    
    <form [formGroup]="messageForm" class="my-3 container-xl needs-validation" (ngSubmit)="onSubmit()">

        <a class="h2 atras"><i class="fas fa-arrow-circle-left my-3" (click)="goBack()"></i></a>

        <div class="my-2 d-flex justify-content-center">
            <div *ngIf="success" class="w-75 mt-4 alert alert-success text-center" role="alert">
                Mensaje enviado correctamente
            </div>
        </div>
        <div class="my-2 d-flex justify-content-center">
            <div *ngIf="generalError" class="w-75 mt-4 alert alert-danger text-center" role="alert">
                Ha ocurrido un error, revise el formulario
            </div>
        </div>

        <div class="row">
  
            <div class="my-2 col-12 col-sm-6">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" 
                        [ngClass]="getValidityClass(messageForm.get('nombre'))" 
                        id="name" placeholder="Nombre" formControlName="nombre">
                        
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Nombre es obligatorio
                </div>
            </div>
        
    
            <div class="my-2 col-12 col-sm-6">
                <label for="email">Email:</label>
                <input type="email" class="form-control" 
                        [ngClass]="getValidityClass(messageForm.get('email'))" 
                        id="email" placeholder="Email" formControlName="email">
                
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    <div *ngIf="messageForm.get('email').invalid && 
                            (messageForm.get('email').dirty || messageForm.get('email').touched)">
                        <div *ngIf="messageForm.get('email').errors.required">El email es obligatorio</div>
                        <div *ngIf="messageForm.get('email').errors.email">Email inválido</div>
                    </div>
                </div>   
            </div>
    
            <div class="my-2 col-12">
                <label for="asunto">Asunto:</label>
                <input type="text" class="form-control" 
                        [ngClass]="getValidityClass(messageForm.get('asunto'))" 
                        id="asunto" placeholder="Nombre" formControlName="asunto">
                        
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Asunto es obligatorio
                </div>
            </div>

            <div class="mt-3 mb-2 col-12">
                <label for="mensaje">Mensaje:</label>
                <textarea class="form-control" 
                    [ngClass]="getValidityClass(messageForm.get('mensaje'))" 
                    id="mensaje" placeholder="Mensaje" rows="4" 
                    formControlName="mensaje"></textarea>

                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Mensaje es obligatorio
                </div>  
            </div>

        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="w-25 mt-3 mb-5">Enviar</button>
        </div>
        

    </form>
</div>